<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Iscogram</title>
    <link href="/css/style_min.css" media="screen" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <%= erb :header, locals: { me: me } %>

      <%= yield %>
    </div>
    <script src="/js/jquery-2.2.0_min.js"></script>
    <script src="/js/jquery.timeago_min.js"></script>
    <script src="/js/jquery.timeago_min.ja.js"></script>
    <script src="/js/main_min.js"></script>
  </body>
</html>
